#stalls {
    max-width    : 300px;
    min-width    : 300px;
    border-right : 1px solid rgba(0, 0, 0, .125);
    z-index: 2;
}

#stalls .list-group .list-group-item {
    border-radius : 0 !important;
    border-right: 0;
    border-left: 0;
}

#products {
    flex-grow : 1;
}

#stall-list-header,
#product-list-header {
    border-bottom : 1px solid rgba(0, 0, 0, .125);
    min-height: 90px;
    max-height: 90px;
}

#stall-list,
#product-list {
    overflow-y : scroll !important;
    height: 100%;
}

#product-list .card {
    max-width: 350px;
    min-width: 260px;
}