/*General*/

/*Disallow highlighting*/
* {
    user-select : none;
    cursor      : default;
}

input,
textarea,
.selectable {
    cursor      : text;
    user-select : text;
}

.table td,
.table th {
    vertical-align : middle;
    transition     : all 100ms;
}

.page-head {
    border-bottom : 1px solid rgba(0, 0, 0, .125);
    min-height    : 100px;
    flex          : 0 0 auto;
}

.page-content {
    flex       : 1 1 auto;
    min-height : 0; /*This forces the content to shrink when needed*/
}

.text-warning {
    color : #e0ab0c !important;
}

/*Tables*/
.page-content table.page-table {
    flex       : 0 1 auto;
    min-height : 0;
}

table.page-table thead {
    flex : 1 0 auto; /* Do not shrink. */
}

table.page-table tbody {
    flex       : 1 1 auto;
    min-height : 0; /* Shrink when needed*/
    overflow   : scroll !important; /* Allow scrolling when resized */
}

table.page-table th:first-child,
table.page-table td:first-child {
    padding-left : 30px;
}

table.page-table th:last-child,
table.page-table td:last-child {
    padding-right : 30px;
}

table.page-table thead,
table.page-table tbody {
    display : block
}

.financial-number {
    font-family    : "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    letter-spacing : 0.05rem;
    text-align     : right;
}

/*Navigation*/
#main-navigation.navbar {
    background         : linear-gradient(to bottom, #e6e6e6 0%, #cfcfcf 100%);
    height             : 40px;
    box-shadow         : 0 1px 1px rgba(0, 0, 0, 0.08), 0 1px 1px rgba(0, 0, 0, 0.24);
    z-index            : 1040;
    -webkit-app-region : drag;
}

#main-navigation .nav-item {
    border-right : 1px solid #c5c5c5;
}

#main-navigation .nav-item:first-child {
    border-left : 1px solid #c5c5c5;
}

#main-navigation a.nav-link {
    font-size   : 14px;
    font-weight : 500;
    padding     : 10px 30px 10px 30px !important;
    transition  : all 250ms;
    display     : block !important;
    margin-top  : -1px;
    text-align  : center;
    min-width   : 130px;
}

#main-navigation .nav-item a.nav-link.active {
    background  : linear-gradient(to bottom, #f6f6f6 0%, #e5e5e5 100%);
    color       : #343a40 !important;
    font-weight : 600;
}

#main-navigation .nav-item a.nav-link:hover {
    background : #edeeee;
}

#current-tab {
    padding-top : 40px;
    overflow    : hidden;
}

/* Toggles */
.toggle {
    width      : 60px;
    text-align : center;
}

.toggle *,
.toggle *:before,
.toggle *:after {
    -webkit-transition : .25s ease-in-out;
    -moz-transition    : .25s ease-in-out;
    -o-transition      : .25s ease-in-out;
    transition         : .25s ease-in-out;
}

.ios-toggle, .ios-toggle:active {
    position : absolute;
    top      : -5000px;
    height   : 0;
    width    : 0;
    opacity  : 0;
    border   : none;
    outline  : none;
}

.checkbox-label {
    display               : block;
    position              : relative;
    padding               : 10px;
    margin-bottom         : 20px;
    font-size             : 12px;
    line-height           : 16px;
    width                 : 100%;
    height                : 36px;
    /*border-radius*/
    -webkit-border-radius : 18px;
    -moz-border-radius    : 18px;
    border-radius         : 18px;
    background            : #f8f8f8;
    cursor                : pointer;
}

.checkbox-label:before {
    content               : '';
    display               : block;
    position              : absolute;
    z-index               : 1;
    line-height           : 34px;
    text-indent           : 40px;
    height                : 36px;
    width                 : 36px;
    /*border-radius*/
    -webkit-border-radius : 100%;
    -moz-border-radius    : 100%;
    border-radius         : 100%;
    top                   : 0px;
    left                  : 0px;
    right                 : auto;
    background            : white;
    /*box-shadow*/
    -webkit-box-shadow    : 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
    -moz-box-shadow       : 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
    box-shadow            : 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
}

.checkbox-label:after {
    content     : attr(data-off);
    display     : block;
    position    : absolute;
    z-index     : 0;
    top         : 0;
    left        : -300px;
    padding     : 10px;
    height      : 100%;
    width       : 300px;
    text-align  : right;
    color       : #bfbfbf;
    white-space : nowrap;
}

.ios-toggle:checked + .checkbox-label {
    /*box-shadow*/
    -webkit-box-shadow : inset 0 0 0 20px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
    -moz-box-shadow    : inset 0 0 0 20px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
    box-shadow         : inset 0 0 0 20px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
}

.ios-toggle:checked + .checkbox-label:before {
    left               : calc(100% - 36px);
    /*box-shadow*/
    -webkit-box-shadow : 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow    : 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
    box-shadow         : 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
}

.ios-toggle:checked + .checkbox-label:after {
    content : attr(data-on);
    left    : 60px;
    width   : 36px;
}

/* GREEN CHECKBOX */

#checkbox1 + .checkbox-label {
    /*box-shadow*/
    -webkit-box-shadow : inset 0 0 0 0px rgba(19, 191, 17, 1), 0 0 0 2px #dddddd;
    -moz-box-shadow    : inset 0 0 0 0px rgba(19, 191, 17, 1), 0 0 0 2px #dddddd;
    box-shadow         : inset 0 0 0 0px rgba(19, 191, 17, 1), 0 0 0 2px #dddddd;
}

#checkbox1:checked + .checkbox-label {
    /*box-shadow*/
    -webkit-box-shadow : inset 0 0 0 18px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
    -moz-box-shadow    : inset 0 0 0 18px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
    box-shadow         : inset 0 0 0 18px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
}

#checkbox1:checked + .checkbox-label:after {
    color : rgba(19, 191, 17, 1);
}

/* Entity Management */

#stalls {
    max-width    : 300px;
    min-width    : 300px;
    border-right : 1px solid rgba(0, 0, 0, .125);
    z-index      : 2;
}

#stalls .list-group .list-group-item {
    border-radius : 0 !important;
    border-right  : 0;
    border-left   : 0;
}

#products {
    flex-grow : 1;
}

#stall-list-header,
#product-list-header {
    border-bottom : 1px solid rgba(0, 0, 0, .125);
    min-height    : 90px;
    max-height    : 90px;
}

#stall-list,
#product-list {
    overflow-y : scroll !important;
    height     : 100%;
}

#product-list .card-deck .card {
    max-width  : 350px;
    min-width  : 260px;
    min-height : 100%;
}

#product-list .card img.card-img-top {
    height     : 350px;
    object-fit : cover;
}

#product-list .card-deck {
    margin-right : 0;
    margin-left  : 0;
}

#add-product-modal .tier-row > div {
    flex-grow : 1;
}

#tier-row-clone,
#modify-tier-row-clone {
    display : none !important;
}

#active-stall-name {
    text-overflow : ellipsis;
    white-space   : nowrap;
    max-width     : 60%;
    overflow      : hidden;
}

/* Inventory */
#stock-inventory table th,
#stock-inventory table td {
    width : 25vw;
}

#stock-inventory #less-than-filter,
#stock-inventory #greater-than-filter {
    width : 100px;
}

/* Orders */
#orders table th,
#orders table td {
    width : 25vw;
}

#orders .page-table {
    margin-bottom : 35px;
}

#orders .table-footer {
    position   : fixed;
    height     : 35px;
    bottom     : 0;
    border-top : 1px solid rgba(0, 0, 0, .125);
}

#order-modal-line-item-clone {
    display : none;
}

#store-notes-input {
    height : 200px;
}

/* Sales */
#sales table th,
#sales table td {
    width : 33.33vw;
}

#sales table tbody {
    margin-bottom : 50px;
}

#sales table tfoot {
    position : fixed;
    bottom   : 0;
}

#sales-modal table {
    overflow : hidden;
}

#sales-modal table th:first-child,
#sales-modal table td:first-child {
    padding-left : 20px;
}

#sales-modal table th:last-child,
#sales-modal table td:last-child {
    padding-right : 20px;
}

#sales-row-template {
    display : none !important;
}

/* Settings */
#settings-body,
#settings-title-wrapper {
    width        : 1000px;
    margin-left  : auto;
    margin-right : auto;
}

#settings-body {
    height      : 100%;
    overflow-y  : scroll !important;
}

#settings-list > .setting-row {
    padding       : 30px;
}

#settings-list .setting-row:not(:last-child) {
    border-bottom : 1px solid #e5e5e5;
}