#company-logo {
    text-transform : uppercase;
    font-weight    : 700;
    letter-spacing : 0.1em;
}

* {
    font-family : -apple-system, "Helvetica Neue", "Segoe UI", Roboto, Arial, sans-serif !important;
}

@font-face {
    font-family : "San Francisco";
    font-weight : 400;
    src         : url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

.table td, .table th {
    padding : 0.5rem;
}

.financial-number {
    font-family    : "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
    letter-spacing : 0.05rem;
    text-align     : right;
}

@media print {

    #print-button {
        display: none;
    }

    /*This makes the printout have the same size as the html rendering*/
    * {
        font-size : 98% !important;
    }

    small {
        font-size: 80% !important;
    }
}