<link rel="stylesheet" href="../stylesheets/entity-management.css">
<div class="container-fluid d-flex flex-row m-0 p-0 h-100 w-100">
    <div id="stalls" class="bg-light">
        <div class="container-fluid d-flex p-3 mt-3 bg-faded">
            <h3 class="mb-0 mr-auto">Stalls</h3>
            <button type="button" class="btn btn-sm btn-outline-primary">Add</button>
        </div>

        <ul class="list-group bg-faded">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>

    <div id="products" class="bg-primary">

    </div>

</div>