<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Strings Manila Administration</title>

    <!--Scripts-->
    <script src="../../dist/views/js/renderer.js"></script>
    <script src="../../dist/views/js/popper.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../dist/views/js/form_verification.js"></script>
    <script src="../../node_modules/izitoast/dist/js/iziToast.min.js"></script>

    <!--Stylesheets-->
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="../stylesheets/general.css"
          rel="stylesheet">
    <link rel="stylesheet"
          href="../../node_modules/izitoast/dist/css/iziToast.min.css">

</head>

<body class="bg-faded h-100">

<div id="app-container"
     class="container-fluid p-0 m-0 h-100">
</div>


<!--Modals-->


<!--Add Collection Modal-->
<div class="modal fade"
     id="add-collection-modal"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog"
         role="document">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header">
                <h5 class="modal-title">Add collection</h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="form-group row">
                    <label for="add-collection-name-input"
                           class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                        <input id="add-collection-name-input"
                               class="form-control text-input"
                               placeholder="Collection name">
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button id="add-collection-button"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        disabled>Add
                </button>
            </div>
        </div>
    </div>
</div>

<!--Rename Collection Modal-->
<div class="modal fade"
     id="rename-collection-modal"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog"
         role="document">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header">
                <h5 class="modal-title">Rename collection</h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <input type="hidden"
                       id="rename-collection-id">
                <div class="form-group row">
                    <label for="rename-collection-name-input"
                           class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                        <input id="rename-collection-name-input"
                               class="form-control text-input"
                               placeholder="Collection name">
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button id="rename-collection-button"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        disabled>Rename
                </button>
            </div>
        </div>
    </div>
</div>

<!--Discontinue collection modal-->
<div class="modal fade"
     id="delete-collection-modal"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog"
         role="document">
        <div class="modal-content border-danger">
            <!--Modal header-->
            <div class="modal-header">
                <h5 class="modal-title text-danger">Are you sure you want to discontinue
                    <span class="delete-collection-name">this
                    collection</span>?
                </h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <input type="hidden"
                       id="delete-collection-id">
                <p>The products that belong to this collection will also be discontinued. This cannot be undone.</p>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button id="delete-collection-button"
                        type="button"
                        class="btn btn-danger"
                        data-dismiss="modal">Discontinue
                </button>
            </div>
        </div>
    </div>
</div>


<!--Add Product Modal-->
<div class="modal fade"
     id="add-product-modal"
     tabindex="-1"
     role="dialog">

    <div class="modal-dialog"
         role="document">
        <div class="modal-content">

            <!--Modal Header-->
            <div class="modal-header bg-light border-bottom-0 rounded-top">
                <h5 class="modal-title">Add a product</h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>

            <!--Modal Body-->
            <div class="modal-body p-0">

                <input type="hidden"
                       id="add-product-collection-id">

                <!--Singular Product-->
                <div id="add-singular-product-card"
                     class="card rounded-bottom border-top-0">
                    <div class="card-header pt-0">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active">Singular product</a>
                            </li>
                            <li class="nav-item">
                                <a id="add-tiered-product-tab"
                                   class="nav-link">Tiered Product</a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <div class="form-group row">
                            <label for="add-singular-product-name-input"
                                   class="col-sm-3 col-form-label">Name</label>
                            <div class="col-sm-9">
                                <input id="add-singular-product-name-input"
                                       class="form-control text-input"
                                       placeholder="Product name">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="add-singular-product-price-input"
                                   class="col-sm-3 col-form-label">Price</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon">₱</span>
                                    <input id="add-singular-product-price-input"
                                           class="form-control text-input"
                                           placeholder="Price"
                                           type="number"
                                           min="0"
                                           step="0.01">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="add-singular-product-description-input"
                                   class="col-sm-3 col-form-label">Description</label>
                            <div class="col-sm-9">
                        <textarea id="add-singular-product-description-input"
                                  class="form-control text-input"
                                  placeholder="Description"></textarea>
                            </div>
                        </div>

                        <div class="form-group-row">
                            <label for="add-singular-product-image-input"
                                   class="col-sm-3 col-form-label p-0">Image</label>
                            <input id="add-singular-product-image-input"
                                   type="file"
                                   class="form-control-file d-inline col-7 pl-0">
                            <div class="col-sm-9 ml-auto mr-2 mt-2">
                                <small class="form-text text-muted">When no new image is supplied, a default image will
                                    be
                                    used.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer d-flex">
                        <button id="add-singular-product-button"
                                type="button"
                                class="btn btn-primary ml-auto"
                                data-dismiss="modal"
                                disabled>Add
                        </button>
                    </div>
                </div>

                <!--Tiered Product-->
                <div id="add-tiered-product-card"
                     class="card rounded-bottom border-top-0">
                    <div class="card-header pt-0">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a id="add-singular-product-tab"
                                   class="nav-link">Singular product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active">Tiered Product</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="add-tiered-product-name-input"
                                   class="col-sm-3 col-form-label">Name</label>
                            <div class="col-sm-9">
                                <input id="add-tiered-product-name-input"
                                       class="form-control text-input"
                                       placeholder="Product name">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="add-tiered-product-description-input"
                                   class="col-sm-3 col-form-label">Description</label>
                            <div class="col-sm-9">
                        <textarea id="add-tiered-product-description-input"
                                  class="form-control text-input"
                                  placeholder="Description"></textarea>
                            </div>
                        </div>

                        <div class="form-group-row">
                            <label for="add-tiered-product-image-input"
                                   class="col-sm-3 col-form-label p-0">Image</label>
                            <input id="add-tiered-product-image-input"
                                   type="file"
                                   class="form-control-file d-inline col-7 pl-0">
                            <div class="col-sm-9 ml-auto mr-2 mt-2">
                                <small class="form-text text-muted">When no new image is supplied, a default image will
                                    be
                                    used.
                                </small>
                            </div>
                        </div>

                        <hr>

                        <div class="mb-2">
                            <h5 class="mb-0">Tiers</h5>
                            <small class="text-muted">A tiered product must have at least two tiers</small>
                        </div>

                        <div id="tiers-set">
                            <div class="form-group row tier-row d-flex flex-row flex-nowrap pl-2 pr-2 mb-0">
                                <div class="m-2">
                                    <input class="form-control text-input tier-name"
                                           placeholder="Tier name">
                                </div>
                                <div class="m-2">
                                    <div class="input-group">
                                        <span class="input-group-addon">₱</span>
                                        <input class="form-control text-input tier-price"
                                               placeholder="Tier Price"
                                               type="number"
                                               min="0"
                                               step="0.01">
                                    </div>
                                </div>
                                <div class="col-1"></div>
                            </div>
                            <div class="form-group row tier-row d-flex flex-row flex-nowrap pl-2 pr-2 mb-0">
                                <div class="m-2">
                                    <input class="form-control text-input tier-name"
                                           placeholder="Tier name">
                                </div>
                                <div class="m-2">
                                    <div class="input-group">
                                        <span class="input-group-addon">₱</span>
                                        <input class="form-control text-input tier-price"
                                               placeholder="Tier Price"
                                               type="number"
                                               min="0"
                                               step="0.01">
                                    </div>
                                </div>
                                <div class="col-1"></div>
                            </div>
                        </div>

                        <button id="add-tier-button"
                                class="btn btn-outline-primary mt-3">Add tier
                        </button>
                    </div>

                    <div class="card-footer d-flex">
                        <button id="add-tiered-product-button"
                                type="button"
                                class="btn btn-primary ml-auto"
                                data-dismiss="modal"
                                disabled>Add
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Add Tier Row Clone-->
<div id="tier-row-clone"
     class="form-group row tier-row extra-tier-row d-flex flex-row flex-nowrap pl-2 pr-2 mb-0">
    <div class="m-2">
        <input class="form-control text-input tier-name"
               placeholder="Tier name">
    </div>
    <div class="m-2">
        <div class="input-group">
            <span class="input-group-addon">₱</span>
            <input class="form-control text-input tier-price"
                   placeholder="Tier Price"
                   type="number"
                   min="0"
                   step="0.01">
        </div>
    </div>
    <button type="button"
            class="close text-danger col-1 tier-row-remove">
        <span>&times;</span>
    </button>
</div>

<!--Modify Product Modal-->
<div class="modal fade"
     id="modify-product-modal"
     tabindex="-1"
     role="dialog">

    <div class="modal-dialog"
         role="document">
        <div class="modal-content">

            <!--Modal Header-->
            <div class="modal-header">
                <h5 class="modal-title">Modify product</h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>

            <!--Modal Body-->
            <div class="modal-body p-0">

                <input type="hidden"
                       id="modify-product-id">

                <div id="modify-singular-product-body"
                     class="card border-0">

                    <input id="modify-singular-product-tier-id"
                           type="hidden">

                    <div class="card-body">
                        <div class="form-group row">
                            <label for="modify-singular-product-name-input"
                                   class="col-sm-3 col-form-label">Name</label>
                            <div class="col-sm-9">
                                <input id="modify-singular-product-name-input"
                                       class="form-control text-input"
                                       placeholder="Product name">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="modify-singular-product-price-input"
                                   class="col-sm-3 col-form-label">Price</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon">₱</span>
                                    <input id="modify-singular-product-price-input"
                                           class="form-control text-input"
                                           placeholder="Price"
                                           type="number"
                                           min="0"
                                           step="0.01">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="modify-singular-product-description-input"
                                   class="col-sm-3 col-form-label">Description</label>
                            <div class="col-sm-9">
                            <textarea id="modify-singular-product-description-input"
                                      class="form-control text-input"
                                      placeholder="Description"></textarea>
                            </div>
                        </div>

                        <div class="form-group-row">
                            <label for="modify-singular-product-image-input"
                                   class="col-sm-3 col-form-label p-0">Image</label>
                            <input id="modify-singular-product-image-input"
                                   type="file"
                                   class="form-control-file d-inline col-7 pl-0">
                            <div class="col-sm-9 ml-auto mr-2 mt-2">
                                <small class="form-text text-muted">When no new image is supplied, a default image will
                                    be
                                    used.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer d-flex">
                        <button id="modify-singular-product-button"
                                type="button"
                                class="btn btn-primary ml-auto"
                                data-dismiss="modal"
                                disabled>Modify
                        </button>
                    </div>

                </div>

                <div id="modify-tiered-product-body">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="modify-tiered-product-name-input"
                                   class="col-sm-3 col-form-label">Name</label>
                            <div class="col-sm-9">
                                <input id="modify-tiered-product-name-input"
                                       class="form-control text-input"
                                       placeholder="Product name">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="modify-tiered-product-description-input"
                                   class="col-sm-3 col-form-label">Description</label>
                            <div class="col-sm-9">
                        <textarea id="modify-tiered-product-description-input"
                                  class="form-control text-input"
                                  placeholder="Description"></textarea>
                            </div>
                        </div>

                        <div class="form-group-row">
                            <label for="modify-tiered-product-image-input"
                                   class="col-sm-3 col-form-label p-0">Image</label>
                            <input id="modify-tiered-product-image-input"
                                   type="file"
                                   class="form-control-file d-inline col-7 pl-0">
                            <div class="col-sm-9 ml-auto mr-2 mt-2">
                                <small class="form-text text-muted">When no new image is supplied, a default image will
                                    be
                                    used.
                                </small>
                            </div>
                        </div>

                        <hr>

                        <h5>Tiers</h5>

                        <div id="modify-tiers-set"></div>

                    </div>
                    <div class="card-footer d-flex">
                        <button id="modify-tiered-product-button"
                                type="button"
                                class="btn btn-primary ml-auto"
                                data-dismiss="modal"
                                disabled>Modify
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!--Modify Tier Row Clone-->
<div id="modify-tier-row-clone"
     class="form-group row modify-tier-row d-flex flex-row flex-nowrap pl-2 pr-2 mb-0">
    <input class="tier-row-id"
           type="hidden">
    <div class="m-2">
        <input class="form-control text-input tier-name"
               placeholder="Tier name">
    </div>
    <div class="m-2">
        <div class="input-group">
            <span class="input-group-addon">₱</span>
            <input class="form-control text-input tier-price"
                   placeholder="Tier Price"
                   type="number"
                   min="0"
                   step="0.01">
        </div>
    </div>
</div>

<!--Discontinue Product Modal-->
<div class="modal fade"
     id="delete-product-modal"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog"
         role="document">
        <div class="modal-content border-danger">
            <!--Modal header-->
            <div class="modal-header">
                <h5 class="modal-title text-danger">Are you sure you want to discontinue
                    <span class="delete-product-name">this
                    product</span>?
                </h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <input type="hidden"
                       id="delete-product-id">
                <p>This cannot be undone.</p>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button id="delete-product-button"
                        type="button"
                        class="btn btn-danger"
                        data-dismiss="modal">Discontinue
                </button>
            </div>
        </div>
    </div>
</div>


<!--Restock Modal-->
<div class="modal fade"
     id="restock-modal"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog"
         role="document">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header">
                <h5 class="modal-title">Restock</h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="form-group-row">
                    <table class="table table-bordered mb-4 selectable">
                        <tbody>
                        <tr>
                            <th>Product Name</th>
                            <td id="restock-modal-product-name"
                                class="selectable">Name goes here
                            </td>
                        </tr>
                        <tr id="restock-modal-tier-row">
                            <th>Tier</th>
                            <td id="restock-modal-tier-name"
                                class="selectable"></td>
                        </tr>
                        <tr>
                            <th>Current quantity</th>
                            <td id="restock-modal-product-quantity"
                                class="selectable">Number
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <input type="hidden"
                           id="restock-tier-id">

                    <div class="form-group row">
                        <label for="restock-quantity"
                               class="col-4 col-form-label">Restock Quantity</label>
                        <div class="col-7 row">
                            <input id="restock-quantity"
                                   class="form-control text-input col-7"
                                   type="number"
                                   min="0"
                                   placeholder="Quantity">
                            <div class="btn-group col-4"
                                 data-toggle="buttons"
                                 id="restock-button-group">
                                <label class="btn btn-outline-primary active">
                                    <input type="radio"
                                           name="options"
                                           id="restock-add"
                                           autocomplete="off"
                                           checked> Add
                                </label>
                                <label class="btn btn-outline-primary">
                                    <input type="radio"
                                           name="options"
                                           id="restock-subtract"
                                           autocomplete="off"> Subtract
                                </label>
                            </div>
                            <div class="btn-group col-4"
                                 id="restock-dummy-button-group">

                                <div class="btn-group">
                                    <button type="button"
                                            class="btn btn-primary active"
                                            disabled>Add
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-primary"
                                            disabled>Subtract
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button id="restock-button"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        disabled>Restock
                </button>
            </div>
        </div>
    </div>

</div>


<!--Order Detail Modal-->
<div class="modal fade"
     id="order-modal"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog modal-lg"
         role="document">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header">
                <h5 class="modal-title">Order Details</h5>
                <button id="generate-order-detail-report-button"
                        class="btn btn-outline-primary">Generate Report
                </button>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div id="order-modal-loading"
                     class="h-100 w-100 p-5 text-center">
                    <h3 class="mb-0">Loading...</h3>
                </div>

                <div id="order-modal-information"
                     class="p-4">
                    <div>
                        <h4 class="mb-4">Customer Information</h4>
                        <div class="d-flex flex-row">
                            <div class="mr-3">
                                <h5 class="ml-2">Contact</h5>
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Name</th>
                                        <td id="order-modal-customer-name"
                                            class="selectable"></td>
                                    </tr>
                                    <tr>
                                        <th>Phone Number</th>
                                        <td id="order-modal-customer-phone"
                                            class="selectable"></td>
                                    </tr>
                                    <tr>
                                        <th>Email Address</th>
                                        <td id="order-modal-customer-email"
                                            class="selectable"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <h5 class="ml-2">Address</h5>
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>City</th>
                                        <td id="order-modal-customer-city"
                                            class="selectable"></td>
                                    </tr>
                                    <tr>
                                        <th>Address</th>
                                        <td id="order-modal-customer-address"
                                            class="selectable"></td>
                                    </tr>
                                    <tr>
                                        <th>Postal Code</th>
                                        <td id="order-modal-customer-postal-code"
                                            class="selectable"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="d-flex align-items-center mb-4 mt-5">
                            <h4 class="m-0 mr-auto">Order Details</h4>
                            <button id="cancel-order-button"
                                    class="btn btn-outline-danger"
                                    data-toggle="modal"
                                    data-target="#cancel-order-modal">Cancel this order
                            </button>
                        </div>

                        <table class="table">
                            <tbody>
                            <tr>
                                <th style="width: 160px;">Order Number</th>
                                <td id="order-modal-order-id"
                                    class="selectable"></td>
                            </tr>
                            <tr>
                                <th>Order Date</th>
                                <td id="order-modal-order-date"
                                    class="selectable"></td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td id="order-modal-order-total"
                                    class="selectable"></td>
                            </tr>
                            <tr>
                                <th>Deposit Slip</th>
                                <td id="order-modal-deposit-slip"
                                    class="d-flex align-items-center">
                                    <button id="open-deposit-slip-link"
                                            class="btn btn-link mr-auto p-0"></button>
                                    <button id="mark-as-verified-button"
                                            class="btn btn-outline-success">Mark as Verified
                                    </button>

                                    <p id="no-deposit-slip-message"
                                       class='text-muted mb-0'>The customer has not uploaded a deposit slip.
                                    </p>

                                    <span id="payment-verified-message"
                                          class="text-success"><b>✓</b> Verified</span>
                                </td>
                            </tr>
                            <tr>
                                <th>Order Status</th>
                                <td class="d-flex flex-row align-items-center">
                                    <span id="order-modal-order-status"
                                          class="mr-auto"></span>
                                    <button id="mark-as-shipped-button"
                                            class="btn btn-outline-success ml-auto"
                                            data-toggle="modal"
                                            data-target="#mark-as-shipped-modal">Mark as Shipped
                                    </button>
                                </td>
                            </tr>
                            <tr id="store-notes-row">
                                <th>Store Notes</th>
                                <td id="store-notes"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <h4 class="mt-5 mb-4">Order Products</h4>
                        <table class="table">
                            <thead class="thead-default">
                            <tr>
                                <th>Product Name</th>
                                <th>Tier</th>
                                <th>Quantity</th>
                            </tr>
                            <tr id="order-modal-line-item-clone">
                                <td id="order-modal-product-name">Sunlit Youth Vinyl</td>
                                <td id="order-modal-tier-name">N/A</td>
                                <th id="order-modal-quantity">1</th>
                            </tr>
                            </thead>
                            <tbody id="order-modal-line-items">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Confirm Cancel Order Modal-->
<div class="modal fade"
     id="cancel-order-modal"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog"
         role="document">
        <div class="modal-content border-danger">
            <!--Modal header-->
            <div class="modal-header">
                <h5 class="modal-title text-danger">Are you sure you want to cancel this order?</h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <p>This cannot be undone.</p>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button id="confirm-cancel-order-button"
                        type="button"
                        class="btn btn-danger"
                        data-dismiss="modal">Confirm Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<!--Mark Shipped Modal-->
<div class="modal fade"
     id="mark-as-shipped-modal"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog"
         role="document">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header">
                <h5 class="modal-title">Mark Order As Shipped</h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <label class="text-dark">Store Notes (Optional):</label>
                <textarea class="form-control text-input"
                          placeholder="Store Notes"
                          id="store-notes-input"></textarea>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button id="confirm-mark-as-shipped-button"
                        type="button"
                        class="btn btn-success"
                        data-dismiss="modal">
                    Mark as Shipped
                </button>
            </div>
        </div>
    </div>

</div>


<!--Sales Drill Down Modal-->
<div class="modal fade"
     id="sales-modal"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog modal-lg"
         role="document">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header">
                <h5 class="modal-title"><span id="sales-modal-collection-name">Collection</span> Sales</h5>
                <button id="generate-sales-detail-report-button"
                        class="btn btn-outline-primary">Generate Report
                </button>
            </div>

            <!--Modal body-->
            <div class="modal-body p-0">
                <table class="table mb-0 rounded">
                    <thead class="thead-default">
                    <tr>
                        <th>Product Name</th>
                        <th>Tier</th>
                        <th class="text-right">Quantity</th>
                        <th class="text-right">Sales</th>
                    </tr>
                    </thead>
                    <tbody id="sales-modal-table-body">
                    <tr id="sales-row-template">
                        <td id="sales-row-product"></td>
                        <td id="sales-row-tier"></td>
                        <td id="sales-row-quantity"
                            class="financial-number"></td>
                        <td id="sales-row-sales"
                            class="financial-number"></td>
                    </tr>
                    </tbody>
                    <tfoot class="bg-light">
                    <tr>
                        <th>Total</th>
                        <th></th>
                        <th id="sales-modal-total-quantity"
                            class="financial-number"></th>
                        <th id="sales-modal-total-sales"
                            class="financial-number"></th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


<!--Add Bank Deposit Account Modal-->
<div class="modal fade"
     id="add-bank-account-modal"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog"
         role="document">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header">
                <h5 class="modal-title">Add a Bank Deposit Account</h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="form-group row">
                    <label for="bank-name-input"
                           class="col-form-label col-lg-5">Bank Name</label>
                    <input id="bank-name-input"
                           class="form-control text-input col-lg-6">
                </div>
                <div class="form-group row">
                    <label for="account-holder-name-input"
                           class="col-form-label col-lg-5">Account Holder Name</label>
                    <input id="account-holder-name-input"
                           class="form-control text-input col-lg-6">
                </div>
                <div class="form-group row">
                    <label for="account-number-input"
                           class="col-form-label col-lg-5">Account Number</label>
                    <input id="account-number-input"
                           class="form-control text-input col-lg-6">
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-primary"
                        id="add-bank-account-button"
                        data-dismiss="modal">Add
                </button>
            </div>
        </div>
    </div>
</div>

<!--Modify Bank Deposit Account Modal-->
<div class="modal fade"
     id="modify-bank-account-modal"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog"
         role="document">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header">
                <h5 class="modal-title">Modify Bank Deposit Account</h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="form-group row">
                    <label for="modify-bank-name-input"
                           class="col-form-label col-lg-5">Bank Name</label>
                    <input id="modify-bank-name-input"
                           class="form-control text-input col-lg-6">
                </div>
                <div class="form-group row">
                    <label for="modify-account-holder-name-input"
                           class="col-form-label col-lg-5">Account Holder Name</label>
                    <input id="modify-account-holder-name-input"
                           class="form-control text-input col-lg-6">
                </div>
                <div class="form-group row">
                    <label for="modify-account-number-input"
                           class="col-form-label col-lg-5">Account Number</label>
                    <input id="modify-account-number-input"
                           class="form-control text-input col-lg-6">
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-primary"
                        id="modify-bank-account-button"
                        data-dismiss="modal">Modify
                </button>
            </div>
        </div>
    </div>
</div>

<!--Discontinue collection modal-->
<div class="modal fade"
     id="delete-bank-account-modal"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog"
         role="document">
        <div class="modal-content border-danger">
            <!--Modal header-->
            <div class="modal-header">
                <h5 class="modal-title text-danger">Are you sure you want to remove this bank account?</h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Bank name</th>
                    <td id="remove-bank-account-modal-bank-name"></td>
                </tr>
                <tr>
                    <th>Account holder name</th>
                    <td id="remove-bank-account-modal-account-holder"></td>
                </tr>
                <tr>
                    <th>Account number</th>
                    <td id="remove-bank-account-modal-account-number"></td>
                </tr>
                </tbody>
                </table>
                <p>Once removed, customers can no longer see this account among the payment options. This cannot be undone.</p>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button id="delete-bank-account-button"
                        type="button"
                        class="btn btn-danger"
                        data-dismiss="modal">Remove
                </button>
            </div>
        </div>
    </div>
</div>


<!--React Scripts-->
<script>
    const baseURL = "http://localhost:8000";

    function graphQL(object) {
        const xhr = new XMLHttpRequest();
        xhr.responseType = 'json';
        xhr.open("POST", `${baseURL}/graphiql/`);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.setRequestHeader("Accept", "application/json");

        if (object.adminQuery) {
            xhr.setRequestHeader("Authorization", `Token ${localStorage.token}`);
        }

        xhr.onload = function () {
            object.response(xhr.response.data);
        };

        xhr.send(JSON.stringify({query: object.query}));
    }

    var refreshCollections;
    var refreshProducts;
    var refreshStockInventory;
    var refreshOrders;
    var refreshSettings;

    require('../../dist/views/js/index.js');
    require('../../dist/views/js/modals.js');
</script>

</body>

</html>

