<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>

    <!--Scripts-->
    <script src="../js/renderer.js"></script>
    <script src="../js/signin.js"></script>

    <!--Stylesheets-->
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/general.css" rel="stylesheet">
</head>

<style>
    ::-webkit-input-placeholder {
        color: white !important;
    }
</style>
<body class="h-100 d-flex justify-content-center align-items-center bg-dark text-white " style="-webkit-app-region: drag">
<div class="container-fluid">
    <h5 class="text-center mb-2 font-weight-bold" style="text-transform: uppercase; letter-spacing: 0.1em; color: #bbb;">Strings Manila </h5>
    <h2 class="text-center mb-3">Administration</h2>

    <div class="container col-4 p-4 pl-5 pr-5" style="-webkit-app-region: no-drag">
        <div id="error-message" class="text-warning mb-2 text-center "> </div>
        <input id="username-field" type="email" class="form-control mb-2 bg-secondary text-white" aria-describedby="emailHelp"
               placeholder="Username">
        <input id="password-field" type="password" class="form-control mb-3 bg-secondary text-white" placeholder="Password">

        <button id="sign-in-button" class="btn btn-dark border-white w-100">Sign In</button>
    </div>

</div>


</body>
</html>